extends ../base.pug

block content
  if messages.error
    span=messages.error
  .video-upload
    form.video-upload__form(action=`?_csrf=${csrfToken}`, method="post", enctype="multipart/form-data")
      input(type="file", name="video", id="video", accept="video/*", required)
      label(for="video")
        i.fas.fa-upload
        span ファイルを選択
      input(type="text", name="title", placeholder="タイトル（必須）", maxlength=80, required)
      input(type="text", name="description", placeholder="説明", minlength=10)
      input(type="text", name="hashtags", placeholder="タグ")
      input(type="submit", value="保存")

block scripts
  script(src="/static/js/videoUploader.js") 