@import 'config/_reset.scss';
@import 'config/_variables.scss';

// Mixins
@import 'mixins/videoBlock.scss';

// Components
@import 'components/header.scss';

// Screens
@import 'screens/home.scss';
@import 'screens/join.scss';
@import 'screens/login.scss';

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  background-color: $grey;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
