.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 32px;

  &__header {
    font-size: 24px;
    i {
      margin-right: 10px;
    }
  }

  &__main {
    margin: 32px 0px;
    border: 1px solid #eaeaea;
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .social-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    justify-items: center;
    background-color: white;

    padding: 32px;
    border-right: 1px solid #eaeaea;

    &__header {
      font-size: 18px;
      margin-bottom: 16px;
    }

    &__btn {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      margin: 8px 0px;
      box-sizing: border-box;
      text-decoration: none;

      &--github {
        color: #ffffff;
        background: #333;
      }

      &--line {
        color: #ffffff;
        background: #06c755;
      }

      &--google {
        color: #717171;
        background: white;
        border: 1px solid #d1d1d1;
      }

      &-icon {
        font-size: 18px;
        position: absolute;
        left: 20px;
      }
    }

    &__footer {
      max-width: 400px;
      margin-top: 32px;
      line-height: 25px;
    }
  }

  .email-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    justify-items: center;
    padding: 32px;
    background-color: white;

    &__header {
      font-size: 18px;
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__input {
      width: 100%;
      max-width: 400px;
      height: 40px;
      margin: 8px 0px;
      text-indent: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      outline: none;
      font-size: 18px;
      transition: box-shadow 0.15s ease-in-out;
      box-sizing: border-box;

      &:focus {
        box-shadow: 0 0 0 1px #5bc0de;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }

    &__logged-on {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 16px 0px;

      &-text {
        font-size: 16px;
      }
    }

    &__submit {
      height: 40px;
      max-width: 400px;
      border: none;
      border-radius: 5px;
      background-color: #0275d8;
      color: #ffffff;
      cursor: pointer;
      outline: none;
      font-size: 18px;

      &:hover {
        background-color: #0069d8;
      }
    }

    &__forgot {
      color: #0275d8;
      text-decoration: none;
      margin-top: 32px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.login__footer {
  color: inherit;
  text-decoration: none;
  &-link {
    color: #0275d8;
    &:hover {
      text-decoration: underline;
    }
  }
  &-icon {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .login {
    .social-login {
      border-right: none;
    }
  }
}
