.video-upload {
  padding: 32px;
  display: grid;
  grid-template-columns: minmax(250px, 600px);
  grid-auto-rows: max-content;
  gap: 32px;

  &__form {
    input[type='file'] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    input[type='file'] + label {
      height: 40px;
      position: relative;
      padding: 0px 12px;
      margin-bottom: 8px;

      display: flex;
      align-items: center;

      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;

      .hide {
        display: none;
      }

      #video-upload__filesize {
        position: absolute;
        right: 37px;

        &::before {
          content: '(';
        }
        &::after {
          content: 'MB)';
        }
      }

      span {
        font-size: 14px;
      }

      i {
        position: absolute;
        right: 12px;
      }
    }
  }

  &__warning {
    margin-left: 12px;
    margin-bottom: 16px;
    font-size: 12px;
    color: rgba(255, 0, 0, 0.5);
  }
}
