extends ../base.pug

block content
  if errorMessage
    p=errorMessage
  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    input(type="password", name="oldPassword", placeholder="Old password", required)
    input(type="password", name="newPassword", placeholder="New password", required)
    input(type="password", name="newPassword2", placeholder="Confirm new password", required)
    input(type="submit", value="Save")